@import "tailwindcss";

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: video-cond, serif;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
}

h1 {
    font-family: video, serif;
    font-weight: 600;
    font-style: normal;
    font-size: 2.5rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 1rem;
}

h5 {
    font-size: 0.875rem;
}

h6 {
    font-size: 0.75rem;
}

p,
li {
    font-family: mrs-eaves-roman-lining;
    margin-bottom: 1rem;
}

#logo {
    font-family: video, serif;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
}